@inject SignInManager<ApplicationUser> signInManager;

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gym</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <link rel="stylesheet" href="~/css/GymStyle.css" />
    @*<script src="https://kit.fontawesome.com/547c217ebf.js" crossorigin="anonymous"></script>*@
</head>
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-md my-navbar my-navbar-text">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/images/GymLogoTransp.png" class="rounded-pill my-navbar-logo" alt="The Gym" />
            </a>
            <button class="navbar-toggler navbar-dark" data-toggle="collapse" data-target="#navbar-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse div-navbar" id="navbar-menu">
                <ul class="navbar-nav mr-auto offset-1">
                    <li class="nav-item"><a asp-controller="Home" asp-action="MembershipDeals" class="nav-link my-navbar-text">Memberships</a></li>
                    <li class="nav-item"><a asp-controller="Home" asp-action="OpenHours" class="nav-link my-navbar-text">Open Hours</a></li>
                    <li class="nav-item"><a asp-controller="Home" asp-action="FreePass" class="nav-link my-navbar-text">Free Pass</a></li>
                    <li class="nav-item"><a asp-controller="Home" asp-action="Vacancies" class="nav-link my-navbar-text">Vacancies</a></li>
                    <li class="nav-item"><a asp-controller="Home" asp-action="ContactUs" class="nav-link my-navbar-text">Contact Us</a></li>
                </ul>
                <ul class="navbar-nav offset-1">
                    @*If the user is signed-in display Logout link*@
                    @if (signInManager.IsSignedIn(User))
                    {
                        // Display link to Users page users who are permitted to view the list of users.
                        @if ((await AuthorizationService.AuthorizeAsync(User, "CanViewUsers")).Succeeded)
                        {
                            <li class="nav-item"><a asp-controller="Admin" asp-action="UserList" class="nav-link my-navbar-text">Users</a></li>
                        }
                        // Display link to the roles page to users who are permitted to manage roles
                        @if ((await AuthorizationService.AuthorizeAsync(User, "ManageRolesPermission")).Succeeded)
                        {
                            <li class="nav-item"><a asp-controller="Role" asp-action="Index" class="nav-link my-navbar-text">Roles</a></li>
                        }
                        // Do not display member page for users under the required age.
                        if ((await AuthorizationService.AuthorizeAsync(User, "MinimumAge16")).Succeeded)
                        {
                            <li class="nav-item"><a asp-controller="Member" asp-action="Index" class="nav-link my-navbar-text pr-3">My Page</a></li>
                        }
                        <li class="nav-item">
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <button type="submit" class="nav-link btn btn-link pb-4 text-light">
                                    Logout
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item"><a asp-controller="Account" asp-action="RegisterMember" class="nav-link rounded btn-theme">Join NOW</a></li>
                        <li class="nav-item"><a asp-controller="Account" asp-action="Login" class="nav-link my-navbar-text">login</a></li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid main-container m-0 p-0">
        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>

    <div class="footer text-muted bg-dark">
        <div class="container">
            &copy; 2019 - The Gym - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/547c217ebf.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
