<div class="container-fluid gym-background min-vh-100">
    <div class="p-4 offset-sm-0 offset-md-1">
        <p>Thank you for your request, @ViewBag.Name.</p>
        <p>Your pass number will be sent to your email shortly. Click <a asp-controller="Home" asp-action="Index" class="gym-link">here</a> to return to home page</p>
    </div>
</div>