@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-fluid gym-background min-vh-100">
    <div class="p-4 offset-sm-0 offset-md-1">
        <h1>@ViewData["Title"]</h1>
        <p>Our privacy policy will be published on this page shortly.</p>
    </div>
</div>