<div class="container-fluid gym-background min-vh-100">
    <div class="p-4 offset-sm-0 offset-md-1">
        <p>Your payment could not be processed. Please visit the gym to activate your membership.</p>
    </div>
</div>