<div class="container-fluid gym-background min-vh-100">
    <div class="p-4 offset-sm-0 offset-md-1">
        <p>@ViewBag.FirstName @ViewBag.LastName, thank you for joining our gym</p>
        <p>Your membership will expire on: @ViewBag.ExpiryDate</p>
        <p>Click <a asp-action="Index" asp-controller="Member" style="color: darkblue;">here</a> to go to your page</p>
    </div>
</div>
