@model TheGymWebsite.ViewModels.VacancyViewModel

@{
    ViewData["Title"] = "Edit Vacancy";
}

<div class="container p-3">
    <form asp-action="EditVacancy" method="post">
        <div class="form-group col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <label asp-for="JobTitle"></label>
            <input asp-for="JobTitle" class="form-control" />
            <span asp-validation-for="JobTitle" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <label asp-for="JobType"></label>
            <select asp-for="JobType" class="form-control"
                    asp-items="Html.GetEnumSelectList<Enums.JobType>()">
            </select>
        </div>
        <div class="form-group col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <label asp-for="JobPeriod"></label>
            <select asp-for="JobPeriod" class="form-control"
                    asp-items="Html.GetEnumSelectList<Enums.JobPeriod>()">
            </select>
        </div>
        <div class="form-group col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <label asp-for="Salary"></label>
            <span>£</span>
            <input asp-for="Salary" class="form-control" />
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
        <div class="form-group col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <label asp-for="PayInterval"></label>
            <select asp-for="PayInterval" class="form-control"
                    asp-items="Html.GetEnumSelectList<Enums.PayInterval>()">
            </select>
        </div>
        <div class="form-group col-12 col-xl-10">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" rows="5" cols="8" class="form-control"></textarea>
        </div>

        <div class="form-inline col-12 col-xl-10 mt-3 mb-3 justify-content-between">
            <button type="submit" class="btn btn-warning btn-submit">Submit changes</button>
            <a asp-action="Vacancies" asp-controller="Home" class="btn btn-dark btn-cancel">Cancel</a>
        </div>
        <br />
        <br />
        <br />
    </form>
</div>