
<div class="container-fluid gym-background min-vh-100">
    <div class="p-4 offset-sm-0 offset-md-1">
        <p>Hello @ViewBag.UserName</p>
        <p>Thank you for registering in our website. Unfortunately you must be 16 or over to use our facilities.</p>
        <p>Click the link below to go to home page.</p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-link m-0 p-0">Home page</a>
    </div>
</div>