<div class="p-4 offset-sm-0 offset-md-1">
    <p>Congratulations, @ViewBag.UserName , You are now a member of The Gym</p>
    <p>Your membership will expire on: @ViewBag.ExpiryDate</p>
    <p>Click the link below to go to your page:</p>
    <a asp-action="Index" asp-controller="Member" class="btn btn-link m-0 p-0">My page</a>
</div>