
<div class="container-fluid gym-background min-vh-100">
    <div class="p-4 offset-sm-0 offset-md-1">
        <p>Your password is resetted. Press the button below to login again</p>
        <a asp-action="Login" asp-controller="Account" class="btn-theme">Login</a>
    </div>
</div>