<div class="container-fluid gym-background min-vh-100">
    <div class="p-4 offset-sm-0 offset-md-1">
        <p>Your account is locked after reaching the maximum number of failed login attempts. Please allow 15 minutes to login again or to reset your password.</p>
    </div>
</div>