<div class="container-fluid gym-background min-vh-100">
    <div class="p-4 offset-sm-0 offset-md-1">
        <p>Your membership is still active until @ViewBag.Expiry</p>
        <p>Click the button below to go to your page</p>
        <a class="btn-theme" asp-controller="Member" asp-action="Index">My Page</a>
    </div>
</div>