
@{
    ViewBag.Title = "Banned user";
}

<div class="container-fluid gym-background min-vh-100">
    <div class="p-4 offset-sm-0 offset-md-1">
        <p class="p-0 m-0">User: @ViewBag.Name</p>
        <p>Email: @ViewBag.Email</p>
        <p>The above user is banned from the gym.</p>
    </div>
</div>