
@{ 
    ViewBag.Title = "Email confirmation";
}

<div class="container-fluid gym-background min-vh-100">
    <div class="p-4 offset-sm-0 offset-md-1">
        <p>Thank you for registering with us</p>
        <p>Please complete your registration by clicking the verification link sent to your email. The link expires after one day.</p>
    </div>
</div>