
@{
    ViewBag.Title = "Email confirmation error";
}

<div class="container-fluid gym-background min-vh-100">
    <div class="p-4 offset-sm-0 offset-md-1">
        <p>Your email could not be verified. Please register with a different email address or visit the gym to request assistance</p>
    </div>
</div>