<div class="container-fluid gym-background min-vh-100">
    <div class="p-4 offset-sm-0 offset-md-1">
        <p>An error occured while processing your payment. Please try again later or visit the gym.</p>
    </div>
</div>