
@{
    ViewBag.Title = "User is not found";
}

<div class="container-fluid gym-background min-vh-100">
    <div class="p-4 offset-sm-0 offset-md-1">
        <p>User Id: @ViewBag.UserId</p>
        <p>The above user is not found.</p>
    </div>
</div>